$desktop: 1200px;

$laptop: 1024px;

$tablet: 768px;

$phone: 480px;


/*body{display:flex; flex-direction:column; background-image: url(pexels-jonathan-borba-9976124.jpg);  background-size: cover; height: 50vh; 

@media screen ,(max-width:1200px;) and (min-width:768px;){.imagery img{height:100px; width:100px;}}}


/*.class1 {background-color: rgba(255,125,200,0.4); max-height:40%; margin:25px; display:flex; flex-direction:row; backdrop-filter: blur(10px); color:purple; width:90vw ; text-decoration:red;






@media screen (max-width:768px){font-size:5px;}}*/